.cart-button{
  width: 56px;
  height: 56px;
  position: fixed;
  aspect-ratio: 1;
  top: 1rem;
  right: 1rem;
  background-color: #A8DF8E;
  padding: .8rem;
  border-radius: 100%;
  z-index: 5;
  & .cart-switch{
    z-index: 6;
  }
}
aside{
  display: none;
  width: 25%;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #94A684;
  & h2{
    background-color: transparent;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  & ul{
    background-color: transparent;
    & li{
      display: flex;
      flex-direction: row;
      background-color: transparent;
      position: relative;
      
      & img{
        width: 50%;
        
      }
      & div {
        width: 50%;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        & p{
          background-color: transparent;
          margin: 0;
          font-weight: 800;
          font-size: 1.2rem;
          & span{
            background-color: transparent;
          }
        }
        & .footer{
          display: flex;
          justify-content: center;
            align-self: center;
              position: static;
              gap: .3rem;
          border-radius: 0;
          padding: 0;
          background-color: transparent;
          & p{
            background-color: transparent;
          }
          & button{
            background-color: rgb(255, 255, 255);
            border: 1px solid green;
            width: 24px;
            aspect-ratio: 1;
            position: static;
            margin: 0;
          }
          
        }
      }
      & button {
        position: absolute;
        bottom: 1rem;
        right: 1rem;

      }
    }
  }
}
.cart-button ~ .cart-switch:checked ~ aside{
  display: block;
}