footer {
  position: fixed;
  left: 16px;
  bottom: 16px;
  background: rgba(0, 0, 0, .7);
  padding: 8px 24px;
  border-radius: 32px;
  opacity: .95;
  backdrop-filter: blur(8px);
  color: aliceblue;
}
