ul{
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}
ul li{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #00ABB3;
  border-radius: 1rem;
}
ul h2{
  color: #3C4048;
  margin-top: 1rem;
  font-size: 1.2rem;
  background-color: transparent;
}
ul strong{
  color: #3C4048;
  margin-top: 1rem;
  background-color: transparent;
}
ul li img{
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}
ul button{
  margin-top: auto;
  border: none;
  background-color: transparent;
}