*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #102C57;
  background-color: #F1F0E8;
}
main{
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  & h1{
    margin: 1rem;
  }
}